<!DOCTYPE html>
<html>
    <head>
        <title>Django Info v 1.0</title>
    </head>
    <body>
        <table>
            <tr>
                <td>Platform</td>
                <td>{{ platform }}</td>
            </tr>
            <tr>
                <td>Python version</td>
                <td>{{ python_version }}</td>
            </tr>
            <tr>
                <td>Django version</td>
                <td>{{ django_version }}</td>
            </tr>
            <tr>
                <td>Database Engine</td>
                <td>{{ database_engine }}</td>
            </tr>
        </table>
    </body>
</html>